#editTextCol {
    background-color: whitesmoke; 
}

h3 {
    color: steelblue;
    font-family: 'Old Standard TT', serif;
}

#floralTextDiv {
    position: absolute;
    margin-top: -75px;
}

#eggTextDiv {
    margin-top: 325px;
    position: absolute;
}

#foodTextDiv {
    position: absolute;
    margin-top: 360px;
}

#bubblyTextDiv {
    position: absolute;
    margin-top: 415px;
    color: white;
    font-family: 'Reem Kufi', sans-serif;
}

.bellhop:hover {
    cursor: url("images/mouse-glass.png"), default !important;
    background-color: palevioletred;
    color: black;
}